$menu-color: #00a4d3;
$text-color:#000;
$back-color: #c0c0c0;

#header-top{
height: 360px;
}

#footer-down{
  background: $back-color;
  font-family: arial,helvetica;
  font-size: small;
  height: 100%;
}

#group-button{
  top: 280px;
}





