<!--<header>
    <div class="row" id="header-top">
        <div class="col-md-12 col-sm-12 col p-0">

            &lt;!&ndash; Vablet IMAGE &ndash;&gt;
            <div class="position-absolute" style="width: 100%; height: 360px">
                <img id="header-img-left" class="position-relative" src="fotos/3hexagone.png" width="100px"
                     height="200px">
                <h1 id="header-text" class="position-relative text-center">DES DATACENTER</h1>
            </div>

            &lt;!&ndash; Vablet button &ndash;&gt;
            <div id="header-tree-button" class="d-flex flex-row justify-content-center position-relative"
                 id="group-button">
                <div id="first-button-left" class="btn btn-secondary m-3 text-center" href="#demo"
                     data-toggle="collapse"><p class="text-center">DES<br> COMPETITOR<br> DATABASE</p></div>
                <div id="center-button" class="btn btn-secondary m-3"><p>CLINICAL<br> TRIALS</p></div>
                <div id="first-button-right" class="btn btn-secondary m-3"><p>RESOURCES</p></div>
            </div>
        </div>
    </div>
    <div id="header-design"></div>
</header>-->

<!--
<div id="demo" className="collapse">
    <div className="row pr-5">
        <div className="dropdown col-md-6">
            <button type="button" id="dropDownId"
                    className="btn btn-block m-3"
                    data-toggle="dropdown"
                    style={{
                    borderRadius: 0,
                    color: "#462562",
            background: "#fff ",
            }}>{this.state.dropDownName}

            </button>
            <span className="position-absolute" style={bottunStyle}></span>
            <div className="dropdown-menu">
                {this.renderSubHeaders()}
            </div>
        </div>

        <div className="dropdown col-md-6">
            <button type="button" id="dropDownChoosId"
                    className="btn btn-block m-3  disabled"
                    data-toggle="dropdown"
                    style={{
                    borderRadius: 0,
                    color: "#462562",
            background: "#fff",
            }}>{this.state.dropDownChoosName}

            </button>
            <span className="position-absolute" style={bottunStyle}></span>
            <div className="dropdown-menu">
                {this.renderSubHeaders("choos2")}
            </div>
        </div>
        <div className="col-md-2"></div>
    </div>
    <div id="tblRoot"></div>
</div>-->






<!--<footer>
    <div id="header-text-bottom" class="flex-row">
        <div class="text-white text-light">
            <p>Nur für den internen Gebrauch.</br>
                Abbott VERTRAULICH. Nur für den internen Gebrauch. Dieses Material darf nicht vervielfältigt, weitergegeben oder extrahiert werden.</br>
                Alle Illustrationen sind künstlerische Darstellungen und sollten nicht als technische Zeichnungen oder Fotografien angesehen werden.</br>
                Archivierung der Daten und Fotoaufnahmen durch Abbott Medical.</br>
                www.cardiovascular.abbott</br>
                ©2020 Abbott. Alle Rechte vorbehalten. Approvalnummer.</p>

            <button type="button" class="btn btn-sm mb-1 btn-secondary float-left" data-toggle="modal"
                    data-target="#myModal"
                    style="background: #4c0f6d">
                ALL PRODUCTS
            </button>

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">


                        <div class="modal-header">
                            <h4 class="modal-title">ALL PRODUCTS</h4>
                            <button class="btn btn-sm mb-1 ml-3 mt-1 text-sm-center bg-light"
                                    onclick="ExportPdf()">PRODUCTS ALS PDF
                            </button>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>


                        <div class="modal-body wrapper" id="pdfRoot">

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close
                            </button>
                            <button class="btn btn-sm btn-success mb-1" onclick="ExportPdf()">PRODUCTS ALS PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="abbott-logo" class="pt-4 pl-5">
            <img src="fotos/Abbott-Logo.png" width="60px" height="60px">
        </div>

    </div>

</footer>-->

style={this.state}
